@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');

html {
    scroll-padding-top: 81px; 
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #12130F;
}

section img {
    width: 100%;
    height: auto;
}

/* headings and header */
h1,
h2 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 150%;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 1em 0 0.5em;
}

h2 {
    font-size: 125%;
}

header {
    padding: 1em;
    background-color: #03045e;
    color: #FFFAFA;
    overflow: hidden;
    z-index: 1;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#logo img {
    float: left;
    height: 50px;
    padding-right: 0.25em;
}

#logo h1 {
    font-size: 150%;
    float: left;
    line-height: 50px;
    padding: 0;
}

/* navigation */
nav {
    float: right;
    font-size: 110%;
    letter-spacing: 0.1em;
    line-height: 50px;
}

nav li {
    float: left;
    color: #FFFAFA;
    list-style-type: none;
}

nav li+li {
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    color: #FFFAFA;
}

nav a:hover {
    border-bottom: 2px solid #FFFAFA;;
}

.active {
    border-bottom: 2px solid #FFFAFA;
}

/* hero img */
#hero-image {
    display: block;
}

/* about section */
#about {
    background-color: #CAF0F8;
    padding: 0 5em;
    overflow: hidden;
}

.award-container,
.satisfaction-container {
    float: left;
    width: 25%;
    padding: 2em;
    text-align: center;
}

.award-container div {
    height: 200px;
}

.award-container img {
    max-width: 300px;
    height: 170px;
}

#satisfaction-heading {
    clear: both;
}

.satisfaction-container div {
    font-size: 450%;
    color: #800080;
}

/* courses section */
#courses {
    clear: both;
    overflow: hidden;
    padding: 0 5em;
    background-color: #90E0EF;
}

#courses p {
    padding-bottom: 1em;
}

.courses-container {
    float: left;
    width: 33.3%;
    padding: 1em;
}

.courses-container i {
    color: #12130F;
}

.courses-container h2 {
    padding-top: 0.25em;
    color: #800080;
}

/* contact section */
#contact {
    clear: both;
    background-color: #00B4D8;
    overflow: hidden;
    padding: 0 3em 2em;
}

form {
    float: left;
    width: 48%;
    border: 2px solid #12130F;
    border-radius: 15px;
    padding: 2em 2em;
}

label {
    margin-bottom: 0.25em;
    display: inline-block;
}

input {
    width: 100%;
    padding: 1em;
    margin-bottom: 1.75em;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 1em;
    resize: none;
    border-radius: 5px;
}

#form-message {
    padding-bottom: 1em;
}

input[type=submit] {
    margin-bottom: 1em;
    background-color: #FAF482;
    font-weight: bold;
}

/* map */
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
}

.gmap_canvas {
    float: right;
    overflow: hidden;
    background: none !important;
    width: 48%;
    border: 2px solid #12130F;
    border-radius: 15px;
}

.gmap_iframe {
    height: 573px !important;
    width: 100%;
    display: block;
}

/* footer */
footer {
    clear: both;
}

#social-networks {
    text-align: center;
    background-color: #0077b6;
}

#social-networks>li {
    display: inline;
}

#social-networks li+li {
    margin-left: 10%;
}

#social-networks i {
    font-size: 206%;
    color: #FFFAFA;
    padding: 0.25em 0;
}

/* media queries */
@media screen and (max-width: 952px) {
    /* html {
        scroll-padding-top: 81px; 
    } */
    
    /* about section */
    #about, 
    #courses {
        padding: 0 2.5em;
    }

    .award-container {
        width: 50%;
    }

    /* courses section */
    .courses-container,
    .satisfaction-container {
        float: left;
        width: 50%;
        padding: 1em;
    }

    /* contact section */
    form {
        float: none;
        width: 100%;
        margin-bottom: 2em;
    }

    textarea {
        height: 100px;
    }

    /* map */
    .gmap_canvas {
        float: none;
        width: 100%;
        border: 2px solid #12130F;
        border-radius: 15px;
    }
}

@media screen and (max-width: 689px) {
    html {
        scroll-padding-top: 109px; 
    }

    #logo img {
        float: none;
        vertical-align: middle;
    }

    #logo h1 {
        float: none;
    }

    nav {
        width: 100%;
        line-height: unset;
    }

    nav li {
        float: left;
        text-align: center;
        width: 33.3%;
        font-size: 100%;
        padding: 0;
    }

    nav li+li {
        margin: 0;
    }

    #about,
    #courses {
        padding: 0 1.5em;
    }

    .courses-container {
        width: 100%;
    }

    #logo img {
        height: 50px;
    }
}

@media screen and (max-width: 565px) {
    html {
        scroll-padding-top: 107px; 
    }

    .courses-container,
    .satisfaction-container,
    .award-container {
        width: 100%;
    }   
}

@media screen and (max-width: 500px) {
    #contact {
        padding: 0 1em 2em;
    }
}

@media screen and (max-width: 370px) {
    nav li {
        font-size: 95%;
    }
}