@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

section img {
    width: 100%;
    height: auto;
}

/* headings and header */
h1,
h2 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 1em 0 0.5em;
}

h2 {
    font-size: 150%;
}

header {
    padding: 1em 2em;
    background-color: red;
    overflow: hidden;
}

#logo img {
    float: left;
    height: 100px;
    padding-right: 0.5em;
}

#logo h1 {
    font-size: 300%;
    float: left;
    line-height: 100px;
    padding: 0;
}

/* navigation */
nav {
    float: right;
    font-size: 150%;
    letter-spacing: 0.1em;
    line-height: 100px;
}

nav li {
    float: left;
    list-style-type: none;
}

nav li+li {
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}

/* hero img */
#hero-image {
    display: block;
}

/* about section */
#about {
    background-color: green;
    padding: 0 5em;
    overflow: hidden;
}

.award-container,
.satisfaction-container {
    float: left;
    width: 25%;
    padding: 2em;
    text-align: center;
}

.award-container div,
.satisfaction-container div {
    height: 200px;
    font-size: 450%;
    color: purple;
}

.award-container img,
.satisfaction-container img {
    max-width: 300px;
    height: 170px;
}

#satisfaction-heading {
    clear: both;
}

.satisfaction-container div {
    line-height: 200px;
}

/* courses section */

#courses {
    clear: both;
    overflow: hidden;
    padding: 0 5em;
    background-color: pink;
}

.courses-container {
    float: left;
    width: 33.3%;
    padding: 1em;
}

.courses-container img {
    height: 210px;
}

/* contact section */
#contact-section {
    clear: both;
    background-color: aqua;
    overflow: hidden;
    padding: 0 3em 2em;
}

form {
    float: left;
    width: 48%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2em 2em;
}

label {
    margin-bottom: 0.25em;
    display: inline-block;
    font-size: 125%;
}

input {
    width: 100%;
    padding: 1em;
    margin-bottom: 1.75em;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 5px;
}

#form-message {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

input[type=submit] {
    margin-bottom: 1em;
}

/* map */

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
}

.gmap_canvas {
    float: right;
    overflow: hidden;
    background: none !important;
    width: 48%;
    border: 2px solid black;
    border-radius: 15px;
}

.gmap_iframe {
    height: 621px !important;
    width: 100%;
    display: block;
}

/* footer */
footer {
    clear: both;
}

#social-networks {
    text-align: center;
    background-color: red;
}

#social-networks>li {
    display: inline;
}

#social-networks li+li {
    margin-left: 10%;
}

#social-networks i {
    font-size: 402%;
    color: #252627;
    padding: 0.25em 0;
}

/* media queries */
@media screen and (max-width: 952px) {

    /* header */
    header {
        padding: 1em;
    }

    #logo img {
        height: 75px;
        width: auto;
        padding-right: 0.25em;
        float: none;
        vertical-align: middle;
    }

    #logo h1 {
        font-size: 175%;
        float: none;
        padding: 0;
        line-height: 0;
    }

    #logo {
        float: none;
        margin: 0 auto;
        clear: both;
    }

    /* nav */
    nav {
        width: 100%;
        line-height: unset;
    }

    nav li {
        float: left;
        text-align: center;
        width: 33.3%;
        font-size: 100%;
        padding: 0;
    }

    nav li+li {
        margin: 0;
    }

    /* about section */
    #about, 
    #courses {
        padding: 0 2.5em;
    }

    .award-container {
        width: 50%;
    }

    /* courses section */
    .courses-container,
    .satisfaction-container {
        float: left;
        width: 50%;
        padding: 1em;
    }

    /* contact section */
    form {
        float: none;
        width: 100%;
        margin-bottom: 2em;
    }

    textarea {
        height: 100px;
    }

    /* map */
    .gmap_canvas {
        float: none;
        width: 100%;
        border: 2px solid black;
        border-radius: 15px;
    }
}

@media screen and (max-width: 689px) {
    #about,
    #courses {
        padding: 0 1.5em;
    }

    .courses-container {
        width: 100%;
    }

    #logo img {
        height: 50px;
    }

    #social-networks i {
        font-size: 300%;
    }
}

@media screen and (max-width: 565px) {
    nav li {
        font-size: 70%;
    }

    .courses-container,
    .satisfaction-container,
    .award-container {
        width: 100%;
    }   
}

@media screen and (max-width: 500px) {
    #contact-section {
        padding: 0 1em 2em;
    }
}